@font-face
  font-family: 'iconfont';
  src: url('../fonfs/iconfont.eot');
  src: url('../fonfs/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonfs/iconfont.woff') format('woff'),
    url('../fonfs/iconfont.ttf') format('truetype'),
    url('../fonfs/iconfont.svg#iconfont') format('svg');
  font-weight: normal
  font-style:normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '&#x' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  .icon-power:before
    content: "\e601"

  .icon-setup:before
    content: "\e609

  .icon-moon:before
    content: "\e74d

  .icon-message:before
    content: "\e748"

  .icon-vip:before
    content: "\e60a

  .icon-shop:before
    content: "\e620"

  .icon-online:before
    content: "\e791"

  .icon-friend:before
    content: "\e625"

  .icon-location:before
    content: "\e60d"

  .icon-shirt:before
    content: "\e666"

  .icon-mac:before
    content: "\e61f"

  .icon-time:before
    content: "\e78b"

  .icon-video:before
    content: "\e650"

  .icon-music:before
     content: "\e680"

  .icon-people:before
     content: "\e71d"

  .icon-search:before
     content: "\e613"

  .icon-FM:before
     content: "\e76a"

  .icon-recommend:before
     content: "\e616

  .icon-songList:before
     content: "\e642"

  .icon-rank:before
     content: "\e782"

  .icon-play:before
     content: "\e600"

  .icon-pre:before
     content: "\e78a"

  .icon-next:before
     content: "e7a5"

  .icon-random:before
     content: "\e622"

  .icon-loop:before
     content: "\e66c"

  .icon-listLoop:before
     content: "\e60b

  .icon-collection:before
     content: "\e63b"

  .icon-comment:before
     content: "\e603"

  .icon-list:before
     content: "\e640"

  .icon-slider:before
     content: "\e639"



